h1{
    background-color: red;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-style: oblique;
    @keyframes blinkingText{
        0%{ color:}
        25%{ color:}
        50%{ color:
        
        }
        
    }


 

}